<html>
<head>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/JS/chat.js"></script>
</head>
<body>
    <h2>@ViewBag.Title</h2>
    <label id="lblResponse">@ViewBag.Content</label>
    @using (Html.BeginForm("Index_Send", "Listener"))
    {
        <span>Subscribe Channel</span>@Html.TextBox("Message")
        <input id="btnSubmit" type="button" value="Subscribe" />
        <input id="btnUnsub" type="button" value="UnSubscribe" />
    }

    <div id="messageArea">
        <span>@ViewBag.Message</span>
        <label id="lblResult"></label>
    </div>
</body>
</html>
